<div class="carousel-slide">
  <div class="carousel-image" style="background:url({{ content.field_carousel_image[0]['#markup'] }});"></div>
  <div class="carousel-slide-text">    
    <h3>{{ content.field_title }}</h3>
    <div class="carousel-summary">{{ content.field_summary }}</div>
    <div class="carousel-link"><a href="{{ content.field_link[0]['#url_title'] }}">{{ content.field_link[0]['#title'] }}</a></div>
  </div>  
</div>